<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Shift Tracker</name>

<description>
A simple Shift Planner
</description>

<author href="http://http://stackoverflow.com/users/3181924/jamesf" email="jaydude3@hotmail.com">
James Fawkes
</author>
<gap:platform name="android" />
</widget>
